
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #a1c4fd, #c2e9fb);
}

.container {
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
  max-width: 600px; 
  transition: width 0.3s ease;
}


h1 {
  margin-bottom: 20px;
  color: #333;
}

.input-section {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  outline: none;
  transition: 0.3s;
}

input[type="text"]:focus {
  border-color: #007bff;
}

#addTaskBtn {
  padding: 10px 15px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

#addTaskBtn:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  text-align: left;
}

li {
  background: #f9f9f9;
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li span {
  flex: 1;
  color: #333;
}

.actions {
  display: flex;
  align-items: center;
  gap: 6px;
}

.deleteBtn {
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.deleteBtn {
  background-color: #dc3545;
}

.deleteBtn:hover {
  background-color: #b52a37;
}

.task-counter {
  position: absolute;
  top: 20px;
  right: 30px;
  background-color: #ffffffcc;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: #333;
}

.completed {
  background-color: #2f9847;
  opacity: 0.85;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.completed span {
  text-decoration: line-through;
  color: #01360e; 
  position: relative;
  padding-left: 20px;
}

.completed span::before {
  content: '✔️';
  position: absolute;
  left: 0;
  top: 0;
}
